In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('HR_CSV.csv')
data

     Video_Folder Video_Subfolder  Ground Truth(BPM)  Predicted(BPM)
0             1.0             1_0                 84              86
1             NaN             1_1                 84              84
2             NaN             1_2                 82              82
3             NaN             1_3                 80              66
4             2.0             2_0                 69              69
..            ...             ...                ...             ...
138           NaN            39_3                 63              63
139          40.0            40_0                 61              62
140           NaN            40_1                 58              58
141           NaN            40_2                 60              60
142           NaN            40_3                 62              62

[143 rows x 4 columns]

In [3]:
data.drop('Video_Folder',axis=1,inplace = True)

In [4]:
data

    Video_Subfolder  Ground Truth(BPM)  Predicted(BPM)
0               1_0                 84              86
1               1_1                 84              84
2               1_2                 82              82
3               1_3                 80              66
4               2_0                 69              69
..              ...                ...             ...
138            39_3                 63              63
139            40_0                 61              62
140            40_1                 58              58
141            40_2                 60              60
142            40_3                 62              62

[143 rows x 3 columns]

In [5]:
import numpy as np

In [6]:
data.drop('Video_Subfolder',axis=1,inplace=True)

In [7]:
X = data['Ground Truth(BPM)']

In [8]:
Y = data['Predicted(BPM)']

In [9]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [10]:
print("mae: ",mean_absolute_error(X,Y))
print("mse: ",mean_squared_error(X,Y))
print("r2: ",r2_score(X,Y))

mae:  14.965034965034965
mse:  1157.2167832167831
r2:  -7.879308714537437

In [11]:
print('rmse: ',np.sqrt(mean_squared_error(X,Y)))

rmse:  34.01788916462606